h1 {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 600px;
  max-height: 200px;
  text-align: center;
  margin: auto;
}

.title {
  border: 2px dotted blueviolet;
}
.author {
  border: 2px dotted blueviolet;
}
.pages {
  border: 2px dotted blueviolet;
}
.read {
  border: 2px dotted blueviolet;
}

#addBook {
  display: grid;
  text-align: center;
  margin: auto;
  margin-top: 2.5vh;
}
form {
  margin-top: 2.5vh;
  visibility: hidden;
  display: grid;
  /* grid-template-areas:
    "title"
    "titleInput"
    "author"
    "authorInput "
    "pages "
    "authorInput "
    "read addition"; */
  grid-template-areas:
    "label input"
    "label input"
    "label input"
    "label input"
    "addition .";
  justify-content: center;
}
