h1 {
  text-align: center;
}
#container {
  display: grid;
  grid-template-areas: "title author pages read";
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.title {
  grid-area: title;
  border: 2px dotted blueviolet;
}
.author {
  grid-area: author;
  border: 2px dotted blueviolet;
}
.pages {
  grid-area: pages;
  border: 2px dotted blueviolet;
}
.read {
  grid-area: read;
  border: 2px dotted blueviolet;
}
