h1 {
  text-align: center;
}
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 600px;
  max-height: 200px;
  text-align: center;
  margin: auto;
}

.title {
  /* grid-area: title; */
  border: 2px dotted blueviolet;
}
.author {
  /* grid-area: author; */
  border: 2px dotted blueviolet;
}
.pages {
  /* grid-area: pages; */
  border: 2px dotted blueviolet;
}
.read {
  /* grid-area: read; */
  border: 2px dotted blueviolet;
}

#addBook {
  display: grid;
  text-align: center;
  margin: auto;
  margin-top: 2.5vh;
}
form {
  visibility: hidden;
}
